<div>
	<a ui-sref="d_overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Mon Compte <small>et mes informations</small></h2>
	<span class="glyphicon glyphicon-user bg-fade"></span>
	<div class="jumbotron">
		<div class="container">

			<form role="form" name="userForm" ng-submit="submit(user, 'errorMessage')" novalidate action="app/php/updateOneUser.php" method="POST">

				<div class="form-content">

					<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<label>Email : </label>
						<input type="email" class="form-control input-underline input-lg" name="email" placeholder="Email" required="true" autofocus="true" ng-value="login">
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>


					<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
						<label>Name : </label>
						<input type="text" class="form-control input-underline input-lg" name="name" placeholder="Name" required="true" autofocus="false" ng-value="pseudo">
						<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Enter a valid name.</p>


					<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
						<label>Password : </label>
						<input type="password" class="form-control input-underline input-lg" name="password" placeholder="password" required="true" autofocus="false" ng-value="password">
						<p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter a valid password.</p>


					<div class="form-group" ng-class="{ 'has-error' : userForm.new_password.$invalid }">

						<input type="password" class="form-control input-underline input-lg" name="new_password" placeholder="Password" required="true" ng-model="user.new_password">
						<p ng-show="userForm.new_password.$invalid" class="help-block">Enter a valid new password.</p>

				</div>
				<button type="submit" class="btn btn-quiz-orange btn-outline btn-lg btn-rounded" ng-disabled="userForm.$invalid">Enter</button>

			</form>
            <div class="has-error">{{errorMessage | json}}</div>

		</div>
	</div>
</div>