<div>
	<a ui-sref="d_overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Mon Compte <small>et mes informations</small></h2>
	<span class="glyphicon glyphicon-user bg-fade"></span>
	<div class="jumbotron">
		<div class="container">

			<form role="form" name="userForm" ng-submit="submit(user, 'errorMessage')" novalidate>

				<div class="form-content">

					<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<input type="email" class="form-control input-underline input-lg" name="email" placeholder="Email" required="true" autofocus="true" ng-value="login">
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>

					<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<input type="text" class="form-control input-underline input-lg" name="email" placeholder="Email" required="true" autofocus="true" ng-value="pseudo">
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>

				</div>
				<button type="submit" class="btn btn-quiz-orange btn-outline btn-lg btn-rounded" ng-disabled="userForm.$invalid">Enter</button>

			</form>
            <div class="has-error">{{errorMessage | json}}</div>

			<p>Mon pseudo est {{pseudo}}</p>
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>
		</div>
	</div>
</div>