<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<h2>{{ duel.user1 }} VS {{ duel.user2 }} - Round {{ duel.current_round_number }} : <small>8 - 4</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h2>Thème : {{ duel.round.collection.theme }}</h2>
			<br/>
			<p>

		   		{{ currentQuestion.val }}

		   		<table class="table table-hover">
				   <tr><td ng-click="inc()">{{ currentQuestion.answer1 }}</td></tr>
				   <tr><td ng-click="inc()">{{ currentQuestion.answer2 }}</td></tr>
				   <tr><td ng-click="inc()">{{ currentQuestion.answer3 }}</td></tr>
				   <tr><td ng-click="inc()">{{ currentQuestion.answerOK }}</td></tr>
				</table>

				Question {{ numCurrentQuestion+1 }} / 5
			</p>
		</div>
	</div>
</div>