<div>
	<h2>Quiz <small>Chercher un joueur</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Liste des joueurs</h1>
			<br/>
			Cliquez sur l'un des joueurs pour le provoquer en duel
			<br /><br />

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Joueur</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr ng-repeat="user in userList">
                        <td>{{ user.pseudo }}</td>
                        <td class="text-center"><a onclick ng-click="declareDuel(userId, user.id)" ui-sref="q_overview">Defier !</a></td>
                    </tr>
                </table>
            </div>
        </div>
	</div>
</div>