<div>
	<a ui-sref="game" class="pull-right btn btn-primary btn-outline btn-rounded">Let's play</a>
	<h2>Quiz - Accueil <small>Why is Ani Theme so awesome?</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Quiz - Accueil</h1>
			<br/>
			Vous avez {{ nbUserList }} duels en cours. Cliquez sur le nom de votre adversaire pour commencer le prochain round !
			<br /><br />

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Joueur 1</td>
                            <td>Score J1</td>
                            <td class="text-center">Round en cours</td>
                            <td class="text-right">Score J2</td>
                            <td class="text-right">Joueur 2</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr ng-repeat="duel in duelList">
                        <td>Alain Deloin</td>
                        <td>{{ duel.score1 }}</td>
                        <td class="text-center">Round {{ duel.current_round_number }}</td>
                        <td class="text-right">{{ duel.score2 }}</td>
                        <td class="text-right"><a onclick ng-click="showDuel(duel.id)" ui-sref="game({idDuelClicked: '1'})">{{ duel.name }}</a></td>
                    </tr>
                </table>
            </div>
        </div>
	</div>
</div>